%h1 Search Results
#results
  %ul
    - @response.each('Item') do |item|
      %li
        = link_to image_tag(getAmazonImage(item['ASIN'])), item['DetailPageURL'], :target => "_blank"
        = link_to item['ItemAttributes']['Title'], item['DetailPageURL']
        %p found via Amazon
        - simple_form_for Wishlist.new do |f|
          = f.hidden_field :product_name, :value => item['ItemAttributes']['Title']
          = f.button :submit, 'Add to my list'
    - @best_buy_result.each do |result|
      %li
        = result
        %p found via Best Buy