%h2 this is the refresh page... refresh is in progress..
%ul
  - @yipit_result['response']['deals'].each do |result|
    
    %li
      %h2 Deal
      %p
        Date Added
        = result['date_added']
      %p
        End Date
        = result['end_date']
      %p
        Discount
        = result['discount']
      %p 
        Price
        = result['price']
      = result['value']
      = result['title']
      = result['yipit_title']
      = result['url']
      = result['images']['image_big']
      = result['images']['image_small']
      = result['division']['name']
      = result['business']['id']
      = result['business']['name']
      = result['business']['url']
      = result['source']['name']
      %h3 Locations
      %ul
        - result['business']['locations'].each do |location|
          
          %li
            = location['id']
            = location['address']
            = location['locality']
            = location['state']
            = location['zip_code']
            = location['phone']
            = location['lat']
            = location['lon']
      %h3 Tags
      %ul
        - result['tags'].each do |tag|
          %li= tag['name']