!!!
%html
  %head
    %title #{yield :title} SpontDeal
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    %meta{:name => "keywords", :content => "" }
    %meta{:name => "description", :content => "" } 

%body
  #container
    #header
      %h1 Welcome to SpontDeal
      
    #navigation
      %ul
        %li= link_to 'things', ''
        %li= link_to 'services', ''
        %li= link_to 'entertainment', ''
        
    #content
    = yield
    
    #footer
      %p &copy; Copyright 2011 The Gift Network. All Rights Reserved.