!!!
%html
  %head
    %title #{yield :title} SpontDeal
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag

%body
  #container
    #header
      %div.left
        %h1 Welcome to SpontDeal-
      %div.right
        - if member_signed_in?
          = link_to 'My wishlist', members_wishlists_path
        - else
          = link_to 'Sign in', '/members/sign_in'
        
      
    #navigation
      %ul
        %li= link_to 'things', ''
        %li= link_to 'services', ''
        %li= link_to 'entertainment', ''
        
    #content
    = yield
    
    #footer
      %p &copy; Copyright 2011 The Gift Network. All Rights Reserved.